<section id="cases">
	<div class="container">
		<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local.cases.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
		<div class="row cases-content">
			<% for (let i = 0; i < local.cases.services[part.info].cases.length; i++) { %>
				<%- include(`case`, { singleCase: local.cases.services[part.info].cases[i] }) %>
			<% } %>
		</div>
	</div>
</section>