<section id="development-stage">
    <div class="container">
        <div class="row header">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Этапы разработки</h2>
                <span class="separator"></span>
            </div>
        </div>

        <div class="row d-flex development-stage-cards-row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="development-stage__image">
                        <img src="/img/logos/1.png" alt="">
                    </div>

                    <div class="development-stage__title">
                        <h3>Пункт #1</h3>
                    </div>

                    <div class="development-stage__arrow">
                        <img src="/img/right-arrow.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="development-stage__image">
                        <img src="/img/logos/2.png" alt="">
                    </div>

                    <div class="development-stage__title">
                        <h3>Пункт #2</h3>
                    </div>

                    <div class="development-stage__arrow">
                        <img src="/img/right-arrow.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="development-stage__image">
                        <img src="/img/logos/3.png" alt="">
                    </div>

                    <div class="development-stage__title">
                        <h3>Пункт #3</h3>
                    </div>

                    <div class="development-stage__arrow">
                        <img src="/img/right-arrow.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="development-stage__image">
                        <img src="/img/logos/4.png" alt="">
                    </div>

                    <div class="development-stage__title">
                        <h3>Пункт #4</h3>
                    </div>

                    <div class="development-stage__arrow">
                        <img src="/img/right-arrow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
