<header id="header">
	<div class="container">
		<div class="intro-text">
			<h1 class="intro-lead-in"><%= local.header.intro %></h1>
			<span class="intro-heading"><%- local[part.info].introHeading %></span>
			<div class="header-buttons">
				<a class="primary-button" onclick="openForm()"><%= local.header.contact %></a>
				<a href="#why" class="secondary-button page-scroll hidden-xs"><%= local.header.more %></a>
			</div>

			<div class="header-dashboard"> 
				<svg class="arrows">
					<path class="a1" d="M0 0 L30 32 L60 0"></path>
					<path class="a2" d="M0 20 L30 52 L60 20"></path>
					<path class="a3" d="M0 40 L30 72 L60 40"></path>
				</svg>
			</div>
		</div>
	</div>
	<div id="particles-js"></div>
</header>