<section id="partners">
	<div class="container">
		<div class="row">
			<div class="row header">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><%= local.partners.heading %></h2>
					<span class="separator"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://sanahunt.com/">
					<img src="/img/partners/sanahunt.png" alt="sanahunt">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://skyeng.com.ua/">
					<img src="/img/partners/skyeng.png" alt="skyeng">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://budprokat.kiev.ua/">
					<img src="/img/partners/budprokat.png" alt="budprokat">
				</a>
			</div>
		<!-- </div>
		<div class="row"> -->
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://tk-laser.com.ua/">
					<img src="/img/partners/tklaser.png" alt="tklaser">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://dniprorada.gov.ua/">
					<img src="/img/partners/dnipro.png" alt="dnipro">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://t.me/saporiveri_bot">
					<img src="/img/partners/sapori-veri.png" style="margin-bottom: 0;" alt="sapori-veri">
				</a>
			</div>
		<!-- </div>
		<div class="row"> -->
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 center-block text-center partner">
				<a href="https://dniprorada.gov.ua/uk">
					<img src="/img/partners/cityzen.png" alt="cityzen">
				</a>
			</div>
			
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 center-block text-center partner">
				<a href="https://t.me/saporiveri_bot">
					<img src="/img/partners/sapori-veri.png" style="margin-bottom: 0;" alt="sapori-veri">
				</a>
			</div>
		</div>
	</div>
</section>