<section id="partners">
	<div class="container">
		<div class="row">
			<div class="row header">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><%= local.partners.heading %></h2>
					<span class="separator"></span>
				</div>
			</div>
		</div>
		<div class="row row-partners">
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://sanahunt.com/">
					<img src="/img/partners/sanahunt.png" alt="sanahunt">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://skyeng.com.ua/">
					<img src="/img/partners/skyeng-black.png" alt="skyeng">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://budprokat.kiev.ua/">
					<img src="/img/partners/budprokat-black.png" alt="budprokat">
				</a>
			</div>
		</div>
		<div class="row row-partners">
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 partner">
				<a href="https://tk-laser.com.ua/">
					<img src="/img/partners/tklaser-black.png" alt="tklaser">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 partner">
				<a href="https://mvs.gov.ua/">
					<img src="/img/partners/ministry-black.png" style="margin-bottom: 0;" alt="ministry">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 partner">
				<a href="http://spike-trade.com/">
					<img src="/img/partners/spike-trade.png" style="margin-bottom: 0;" alt="spike-trade">
				</a>
			</div>
		</div>
		<div class="row row-partners row-last">
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://cityzen.com.ua/">
					<img src="/img/partners/cityzen-black.png" alt="cityzen">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://dniprorada.gov.ua/">
					<img src="/img/partners/dnipro-black.png" alt="dnipro">
				</a>
			</div>
			<div class="col-4 col-md-4 col-sm-4 col-xs-4 text-center partner">
				<a href="https://t.me/saporiveri_bot">
					<img src="/img/partners/sapori-veri-black.png" style="margin-bottom: 0;" alt="sapori-veri">
				</a>
			</div>
		</div>
	</div>
</section>