<section id="partners">
	<div class="container">
		<div class="row">
			<div class="row header">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><%= local.partners.heading %></h2>
					<span class="separator"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4 text-center">
				<a href="https://sanahunt.com/">
					<img src="/img/partners/sanahunt.png" height="50" alt="sanahunt">
				</a>
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="https://skyeng.com.ua/">
					<img src="/img/partners/skyeng.png" height="50" alt="skyeng">
				</a>
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="https://budprokat.kiev.ua/">
					<img src="/img/partners/budprokat.png" height="50" alt="budprokat">
				</a>
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="https://cityzen.com.ua/">
					<img src="/img/partners/cityzen.png" height="120" alt="cityzen">
				</a>
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="https://dniprorada.gov.ua/uk">
					<img src="/img/partners/dnipro.png" height="120" alt="dnipro">
				</a>
			</div>
			
			<div class="col-12 col-md-4 text-center">
				<a href="https://t.me/saporiveri_bot">
					<img src="/img/partners/sapori-veri.png" height="120" style="margin-bottom: 0;" alt="sapori-veri">
				</a>
			</div>
		</div>
	</div>
</section>