<div id="thanks-popup-wrapper" class="popup-wrapper" onclick="closeThanksModal()">
	<div class="popup-container" onclick="stopPropagation(event)">
		<div class="popup-header">
			<h5>Заявка успешно отправлена!</h5>
		</div>

        <div class="popup-content">
            <p>Спасибо за Вашу заявку! Вскоре мы с Вами свяжемся.</p>
        </div>
    </div>
</div>
