<!-- PROMOTION -->
<section id="promotion">
	<div class="container">
		<div class="row d-flex">
			<div class="col-xs-12 col-sm-offset-2 col-md-offset-0 col-sm-8 col-md-5 margin-bottom-30">
				<img src="/img/promotion.png" alt="">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7">
				<h3><%= local.promotion.heading %><br/></h3>
				<p><%= local.promotion.content1.text %></p>
				<p><%= local.promotion.content2.text %></p>
			</div>
		</div>
	</div>
</section>
<!-- END PROMOTION -->
