<!-- PROMOTION -->
<section id="promotion">
    <div class="container">
        <div class="row d-flex">
            <div class="col-xs-12 col-sm-offset-2 col-md-offset-0 col-sm-8 col-md-5 margin-bottom-30">
                <img src="/img/promotion.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <h3>Продвижение веб-сайтов<br/></h3>
                <p>
                    Наша компания предоставляет услуги по разностороннему продвижению веб-сайтов после их разработки под ключ, либо уже готовых веб-ресурсов.
                </p>
                <p>
                    Успех сайтов зависит от метода продвижения: SEO-продвижение, контекстная реклама Google Ads и Яндекс Direct, SMM-продвижение
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END PROMOTION -->
