<!-- PROMOTION -->
<section id="promotion">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 margin-bottom-50">
                <img src="/img/promotion.png" alt="">
            </div>
            <div class="col-md-7 col-sm-12">
                <h3>Продвижение веб-сайтов<br/></h3>
                <p>
                    Наша компания предоставляет услуги по разностороннему продвижению веб-сайтов после их разработки под ключ, либо уже готовых веб-ресурсов.
                </p>
                <p>
                    Успех сайтов зависит от метода продвижения: SEO-продвижение, контекстная реклама Google Ads и Яндекс Direct, SMM-продвижение
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END PROMOTION -->
