<section id="website-extras">
	<div class="container">
		<!-- WEBSITE EXTRAS HEADING -->
		<div class="row">
			<div class="row header">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Берем весь головняк на себя</h2>
					<span class="separator"></span>
				</div>
			</div>
		</div>
		<!-- END WEBSITE EXTRAS HEADING -->
		<!-- CAROUSEL -->
		<div class="row">
			<div class="col-12 col-xs-12 col-md-12 col-lg-12">
				<div class="owl-carousel owl-carousel-website-extras">
					<div class="website-extra carousel-card">
						<div class="website-extra__image">
                            <img src="https://lh3.googleusercontent.com/gd7vl3Bb-PPYSzae1LJSO3gsuhY5u6vlpbB2CPa-sC5MzWVZo9zo4Q1ImKbrbbDGtA" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3>Beautiful Design</h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consequatur debitis distinctio, dolorum ex excepturi facere fugiat id illum incidunt!.
                            </p>
                        </div>
					</div>

                    <div class="website-extra carousel-card">
                        <div class="website-extra__image">
                            <img src="https://lh3.googleusercontent.com/gd7vl3Bb-PPYSzae1LJSO3gsuhY5u6vlpbB2CPa-sC5MzWVZo9zo4Q1ImKbrbbDGtA" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3>Beautiful Test</h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consequatur debitis distinctio, dolorum ex excepturi facere fugiat id illum incidunt!.
                            </p>
                        </div>
                    </div>

                    <div class="website-extra carousel-card">
                        <div class="website-extra__image">
                            <img src="https://lh3.googleusercontent.com/gd7vl3Bb-PPYSzae1LJSO3gsuhY5u6vlpbB2CPa-sC5MzWVZo9zo4Q1ImKbrbbDGtA" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3>Beautiful Ice-Cream</h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consequatur debitis distinctio, dolorum ex excepturi facere fugiat id illum incidunt!.
                            </p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- END CAROUSEL -->
	</div>
</section>
