/*
1. GLOBAL STYLES
2. TYPOGRAPHY
     2.1 FONTS
     2.2 HEADINGS
3. LAYOUT
     3.1 GENERAL
     3.2 PRELOADER
     3.3 LOGO
     3.4 CAROUSELS
4. MENU
5. HEADER
6. SECTIONS
     6.1 ABOUT
     6.2 FEATURES
     6.3 VIDEO
     6.4 SOLUTIONS
     6.5 PRICING
     6.6 TESTIMONIALS
     6.7 TEAM
     6.8 CLIENTS
     6.9 SUBSCRIBE
     6.10 CONTACT
7.FOOTER
8.ICONS
8.LIVE PREVIEW

*/
/* --------------------------------------
1. GLOBAL STYLES
-----------------------------------------*/

body {
    overflow-x: hidden;
    font-weight: normal;
    padding: 0;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}
a {
    color: #1080f2
}
a:hover,
a:focus,
a:active,
a.active {
    color: #1080f2
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}
p {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
}
::-moz-selection {
    text-shadow: none;
    background: #1080f2;
    color: #fff;
}
::selection {
    text-shadow: none;
    background: #1080f2;
    color: #fff;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
textarea:focus, input:focus {
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(16,128,242,1);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(16,128,242,1);
    box-shadow: inset 0px 0px 3px 0px rgba(16,128,242,1);
}
/* --------------------------------------
2. TYPOGRAPHY
-----------------------------------------*/
/* 2.1 FONTS*/

@font-face {
    font-family: PTSans;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: PTSans;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/PT_Sans-Web-Bold.ttf);
}
@font-face {
    font-family: WorkSans;
    font-display: swap;
    src: url(../fonts/WorkSans-Light.ttf);
}
/* 2.2 HEADINGS */

h1,
h2,
h3 {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    font-family: "PTSans", Helvetica, Arial, sans-serif;
}
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 52px;
}
section .section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
    margin-top: 25px;
    color: #666666;
    font-weight: 400;
}
.separator {
    width: 30px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #1080f2;
}
/* --------------------------------------
3. LAYOUT
-----------------------------------------*/
/* 3.1 GENERAL*/

section {
    padding: 100px 0;
}
.row {
    margin: 0;
}
.container {
    padding: 0;
}
.outer-margin {
    margin: 0 -15px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.btn-primary {
    text-transform: uppercase;
    font-family: "WorkSans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-xl {
    height: 50px;
    background-color: #1080f2;
    border-radius: 2px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    transition: 0.3s;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active {
    background-color: #273140;
    color: #fff;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}
body.modal-open {
    overflow: hidden;
}
.display-none {
    display: none !important;
}
.parallax {
    background: #1080f2;
}
.parallax h2.section-heading,
.parallax .section-subheading {
    color: #fff;
}
.parallax .separator {
    background: #fff;
}
.gray-bg {
    background: #f8f8f8;
}
.header-buttons {
    margin: 40px auto 90px auto;
}
.margin-top-70 {
    margin-top: 70px;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.primary-button {
    min-width: 150px;
    padding: 0 20px;
    background-color: white;
    border-radius: 2px;
    color: #1080f2;
    font-family: PTSans;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.primary-button.button-inverse {
    color: #fff;
    background: #1080f2;
    border: 2px solid #1080f2;
    margin: 0;
}
.primary-button.button-inverse:hover {
    color: #1080f2;
    background: transparent;
    border: 2px solid #1080f2;
}
.secondary-button {
    min-width: 150px;
    text-align: center;
    line-height: 36px;
    background: #1080f2;
    display: inline-block;
    line-height: 36px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    margin: 0 10px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.secondary-button-inverse {
    color: #1080f2;
    border-color: #1080f2;
    background: #fff
}
.secondary-button.secondary-button-inverse:hover {
    color: #fff;
    background: #1080f2;
}
.primary-button:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}
.secondary-button:hover {
    background: #fff;
    color: #273140;
    text-decoration: none;
}
/*3.2 LOGO*/

.logo img {
    height: 44px;
    width: auto;
}
/*3.3 PRELOADER*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #1080f2
}
}
.spinner {
    opacity: 0.9;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.spinner:after,
.spinner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-radius: 100%;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
.spinner:before {
    width: 40px;
    height: 40px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*3.4 CAROUSELS*/

.owl-theme .owl-controls .owl-buttons {
    display: none;
}
.owl-theme .owl-controls .owl-buttons div {
    background: url(../img/arrow.png);
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 10px;
    text-indent: -9999px;
    height: 18px;
    font-size: 0;
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: -72px;
    top: 50%;
    padding: 0;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: auto;
    left: 0;
    margin-left: -72px;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    opacity: 0.22;
    background-color: #248df8;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/

    opacity: 1;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-item.loading {
    min-height: 150px;
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
    cursor: url(../img/grabbing.png) 8 8, move;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}

.owl-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
    margin-bottom: 10px;
}
/* --------------------------------------
4. MENU
-----------------------------------------*/

.navbar-default {
    border-color: transparent;
    background-color: #273140;
    width: inherit;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}
.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}
.navbar-toggle {
    border: none;
    margin-right: -10px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background: none;
}
.navbar-default .nav li a {
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
    opacity: 1;
}
.navbar-default.navbar-shrink .nav li a {
    opacity: 0.8
}
.navbar-default.navbar-shrink .nav .active a {
    opacity: 1
}
.navbar-default.navbar-shrink .nav li a:hover,
.navbar-default.navbar-shrink .nav li a:focus {
    outline: 0;
    color: #fff;
    opacity: 1;
    background: none;
}
.navbar-default.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-default.navbar-shrink .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    background: none;
    opacity: 1;
    color: #1080f2;
    -webkit-filter: brightness(1.2);
}
@media(min-width:960px) {
    .navbar-default {
        padding: 25px 0;
        /*padding: 10px 0;
        background-color: #273140;*/
        border: 0;
        background-color: transparent;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #273140;
    }
}

.language-list ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}

.language-list a {
    margin: 0 !important;
    padding: 0 !important;
}

.language-list div.single-language {
    margin: 0;
    padding: 0px 25px;
}

.language-list div.single-language.current-language {
    padding: 8px 25px;
}

.language-list ul li {
    margin-bottom: 10px;
}

.language-list:hover > ul {
    display: block;
}

/*.language-list:active > ul {
    display: block;
}*/

/* --------------------------------------
5. HEADER
-----------------------------------------*/

header {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #1080f2;
    background-image: -webkit-linear-gradient(270deg, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
    background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-heading {
    font-family: PTSans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: block;
}
header .intro-text {
    padding-top: 165px;
    padding-bottom: 0;
}
header .intro-text .intro-lead-in {
    font-family: WorkSans;
    font-size: 58px;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
    line-height: 120px;
}
header .header-dashboard {
    height: 300px;
    display: block;
    margin: auto;
    margin-top: -60px;
}
header .header-dashboard .dashboard {
    margin-top: 70px;
}
header .container {
    position: relative;
    z-index: 10;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
/* --------------------------------------
6. SECTIONS
-----------------------------------------*/
/*     6.1 ABOUT*/

#services .col-md-3 {
    text-align: center;
}
#services .col-md-3.last {
    padding-right: 0;
}
#services .nc-icon-outline {
    color: #1080f2;
    margin-bottom: 36px;
    font-size: 40px
}
.service-heading {
    text-transform: none;
    color: #333;
    font-size: 22px;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 22px;
}
/*6.2 FEATURES*/


#features {overflow: hidden;}
#features .container {
    position: relative;
}
#features img {
    position: absolute;
    top: 0;
    right: 0
}
#features .section-subheading {
    margin-bottom: 30px;
    margin-top: 5px;
    max-width: 450px;
    float: left;
    line-height: 25px;
}
.features-tabs .tabs {
    margin: 0;
    padding: 0;
    width: 1170px;
    height: 60px;
    background-color: white;
    border: 1px solid #d1d1d1;
    margin-top: 100px;
}
.features-tabs .tab {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    display: inline-block;
    zoom: 1;
    background: none;
    border: none;
    border-bottom: none;
    text-align: center;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    height: 58px;
    line-height: 60px;
    background: #fafafa;
}
.features-tabs .tab a {
    color: #bbb;
    text-transform: uppercase;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.features-tabs .tab.active {
    background: #fff;
}
.features-tabs .tab a.active {
    color: #1080f2
}
.features-tabs .tab:hover a {
    color: #1080f2
}
.features-tabs .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}
.features-tabs .tab a .triangle {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.features-tabs .tab a.active .triangle {
    border-bottom: 0;
    visibility: visible;
    width: 0;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d1d1d1;
    opacity: 1;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -10px;
}
.features-tabs .tab .triangle .inner-triangle {
    display: block;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: 2px;
    position: absolute;
    left: -8px;
}
#features-tab1 img {
    margin-right: -200px;
}
#features-tab2 img {
    margin-right: 60px;
}
#features-tab3 img {
    margin-top: -50px;
    margin-right: 30px;
}
.features-tabs ul {
    padding-left: 0px;
    margin-bottom: 30px;
}
.features-tabs li {
    background: url(../img/checked.png) no-repeat left 20px;
    padding-left: 40px;
    list-style: none;
    margin: 0;
    color: #666;
    font-family: PTSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
/*6.5 PRICING*/
.pricing {
    overflow: hidden;
    position: relative;
    border: 2px solid #e6e6e6;
    border-top: none;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    /*width: 100%;*/
    margin: 0;
}
.pricing.active {
    background-color: #1080f2;
    border: 2px solid #1080f2;
    opacity: 0.85;
    border-top: 0;
}
.pricing-title {
    background-color: #1080f2;
    border-radius: 2px 2px 0 0;
    text-align: center;
    color: white;
    font-family: PTSans;
    font-size: 16px;
    font-weight: 700;
    line-height: 62px;
    height: 60px;
}
.pricing .pricing-row {
    padding-top: 23px;
    float: left;
    padding-left: 0;
    text-align: center;
    padding-right: 0;
    width: 100%;
}
.pricing .pricing-row.selected {
    background-color: whitesmoke;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    padding-top: 13px;
    margin-top: 10px;
    margin-bottom: -13px;
    padding-bottom: 13px;
}
.pricing.active .pricing-row.selected {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.pricing .col-lg-3 {
    padding: 50px 0 20px 0;
    font-family: WorkSans;
    font-weight: 300;
    line-height: 25px;
    color: #1080f2;
    width: 100%;
    text-align: center;
}
.pricing.active .col-lg-3 {
    color: #fff;
}
.pricing .button-container {
    text-align: center;
    position: relative;
    padding: 42px 0 45px 0;
    width: 100%;
    margin: 0;
    height: auto;
    background: none;
}
.pricing .pricing-price {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 42px;
    display: inline-block;
}
.pricing .pricing-time {
    font-weight: 300;
    letter-spacing: -1px;
    margin-top: 5px;
    font-size: 30px;
}
.pricing .iconita {
    line-height: 52px;
    font-size: 48px;
    height: 52px;
}
.pricing .pricing-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 32px;
}
.pricing .pricing-option {
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    color: #666;
    font-family: PTSans;
    font-size: 16px;
}
.pricing .pricing-row.selected .pricing-option {
    font-size: 14px;
}
.pricing .pricing-option.selected {
    background: #3595f8;
}
.pricing.active .pricing-option {
    color: #fff;
}
.pricing .pricing-row.selected .fa {
    font-size: 13px;
    top: 0;
}
.pricing .fa {
    color: #1080f2;
    font-size: 11px;
    margin-right: 10px;
    position: relative;
    top: -1px;
}
.pricing.active .fa {
    color: #fff;
}
.pricing .currency {
    font-size: 34px;
    margin-right: 5px;
    position: relative;
    top: -20px;
}
.pricing .billing-time {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}
.pricing.active .billing-time {
    color: #fff;
}
.pricing .secondary-button {
    background: transparent;
}
.pricing .secondary-button:hover {
    background: #fff;
}
.pricing .secondary-button.secondary-button-inverse:hover {
    background: #1080f2;
}
.pricing .fa-times {
    color: red;
}
.pricing.active .fa-times {
    color: red;
}
/*6.6 TESTIMONIALS*/
#testimonials {
    margin-bottom: 52px;
    background-color: #f8f8f8;
}
#testimonials .client-name h5 {
    margin-bottom: 5px;
}
.tt-content {
    text-align: center;
}
.tt-content h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.65;
    text-align: center;
    color: #333;
    margin: auto;
    font-family: WorkSans;
    max-width: 850px;
}
.tt-content h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
    padding-top: 20px;
}
.tt-content .content {
    font-size: 16px;
    font-weight: 400;
}
.tt-content .tt-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.tt-images {
    text-align: center;
    margin-bottom: -42px;
    font-size: 0;
}
.tt-image {
    display: inline-block;
    margin: 0 auto;
    /*   border: 2px solid #D1D1D1;*/
    text-align: center;
    border-radius: 90px;
}
.tt-image img {
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 90px;
}
.tt-quote {
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
    margin-right: 20px;
    float: left;
    color: #D1D1D1;
    display: block;
    margin-bottom: 40px;
    margin-left: 2px;
}
.tt-quote-right {
    float: right;
    margin-right: 0;
    position: relative;
    margin-left: 20px;
    bottom: 0;
    margin-bottom: 0;
}
#testimonials .owl-pagination {
    position: absolute;
    width: 100%;
}
#testimonials .owl-controls span {
    width: 84px;
    height: 84px;
    opacity: 0.65;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #fff;
    border-radius: 90px;
    margin: 0 15px;
}
#testimonials .owl-controls .owl-page:hover span,
#testimonials .owl-controls .owl-page.active span {
    opacity: 0;
}
/*6.7 TEAM*/

.team-member {
    text-align: center;
    overflow: hidden;
    position: relative;
    /*min-width: 130px;
    max-width: 390px;*/
}
.team-member img {
    margin: 0 auto;
    border: none;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.team-content {
    padding: 20px 0px;
    background: #1080f2;
    color: #fff;
    position: relative;
    z-index: 100;
    margin-top: -50px;
}
.team-member-down .team-content {
    margin-top: 0;
    margin-bottom: -50px;
}
.team-content h5 {
    font-family: PTSans;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 15px;
}
.team-content .team-subtitle {
    font-size: 14px;
    font-style: italic;
    display: block;
    line-height: 1.2;
}
.team-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.team-content .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 10px solid #1080f2;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -10px;
}
.team-member-down .triangle {
    border-bottom: 0;
    border-top: 10px solid #1080f2;
    top: auto;
    bottom: -10px;
}
.team-socials {
    position: absolute;
    top: 215px;
    width: 100%;
    z-index: 101;
    margin: auto;
    text-align: center;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.team-member-down .team-socials {
    top: auto;
    bottom: 215px;
}
.team-socials a:hover .fa {
    color: #273140
}
.team-socials .fa {
    color: white;
    margin: 0 15px;
    font-family: FontAwesome;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    height: 25px;
    text-transform: uppercase;
}

/*6.8 CLIENTS*/
#clients .owl-controls .owl-buttons {
    display: block;
}
#testimonials .owl-controls {
    text-align: center;
    margin-top: 70px;
}
#clients .owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    z-index: 1;
}
#clients .slider {
    max-width: 1024px;
    margin: 38px auto
}
#clients .slider img {
    display: block;
    margin: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.30;
}
#clients .slider img:hover {
    opacity: 1;
}

/*6.10 CONTACT*/
#contact {
    background-color: #fff;
    position: relative;
}
#contact .contact-form-container {
    float: left;
    width: 570px;
}
#contact .form-group {
    margin-bottom: 30px;
    float: left;
    width: 270px;
    position: relative;
}

#contact .form-group.full-size {
    width: 100%;
}

#contact .form-textarea {
    width: 100%;
}
#contact .form-group input,
#contact .form-group textarea {
    padding: 20px;
    float: left;
    border-radius: 2px;
    resize: none;
}
#contact .section-subheading {
    margin-bottom: 50px;
    margin-top: 30px;
    line-height: 25px;
}
#contact .form-group input.form-control {
    border-radius: 2px;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 0 20px;
    line-height: 50px;
    border: 1px solid #ccc;
}
#contact .form-group textarea.form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0;
    border-radius: 2px;
    min-height: 150px;
}
#contact .text-danger ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
    text-align: right;
    font-size: 14px;
    line-height: 1;
    top: 0;
    max-width: 130px;
    padding-top: 11px;
    right: 20px;
    position: absolute;
}
#contact .text-danger {
    color: #1080f2;
    margin: 0;
}
.contact-map-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    margin-left: -85px;
}
.contact-map-container #map {
    width: 100%;
    height: 100%;
}
#contactForm .alert-success {
    color: #1080f2;
    background-color: #fff;
    border-color: #1080f2;
    padding: 14px;
    border-radius: 2px;
}
/* --------------------------------------
7.FOOTER
-----------------------------------------*/

footer {
    padding: 50px 0 40px 0;
    text-align: center;
    background-color: #273140;
}
footer .logo img {
    max-width: 150px;
    height: auto;
}
.lower-footer span,
.lower-footer a {
    opacity: 0.2;
    color: white;
    font-family: PTSans;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 25px;
}
.lower-footer a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.lower-footer a:hover {
    opacity: 1;
    text-decoration: none;
}
.lower-footer .pull-right a {
    margin: 0;
    margin-left: 35px;
    float: left;
    display: inline-block;
}
.lower-footer .fa {
    margin: 0;
    opacity: 1;
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: 400;
    float: left;
    margin-right: 0;
}
.lower-footer {
    margin-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 40px;
    width: 100%;
    float: left;
}
.upper-footer {
    width: 100%
}
.upper-footer .pull-right {
    width: 570px;
}
.upper-footer .pull-left p {
    opacity: 0.2;
    max-width: 250px;
    margin-top: 30px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 25px;
}
.footer-nav {
    float: left;
    max-width: 280px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.footer-nav li {
    width: 120px;
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}
.footer-nav a {
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    display: inline-block;
    text-align: left;
    float: left;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-nav a:hover {
    text-decoration: none;
    color: #1080f2
}
.footer-secondary-nav {
    float: left;
    padding: 0;
    width: auto;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 50px;
    max-width: 280px;
}
.footer-secondary-nav li {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.footer-secondary-nav a {
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    float: left;
    line-height: 14px;
}
.footer-secondary-nav .fa {
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
    height: 14px;
    line-height: 13px;
}
.footer-secondary-nav .fa.fa-envelope {
    font-size: 14px;
}

/* OWL CAROUSEL */
.owl-dots {
    display: none;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: -10px;
    display: block !important;
    border: 0px solid black;
    outline: none;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -10px;
    display: block !important;
    border: 0px solid black;
    outline: none;
}

.owl-prev i, .owl-next i {
    transform : scale(3,3);
    color: #ccc;
}

.owl-prev i:hover, .owl-next i:hover {
    color: #1080f2;
}

.owl-stage-outer {
    overflow: visible;
}

.owl-item {
    opacity: 0;
    transition: opacity 300ms;
}

.owl-item.active {
    opacity: 1;
}

#team .owl-prev i, #team .owl-next i {
    transform : scale(6,5);
    color: #fff;
}

#team .owl-prev {
    left: 30px;
}

#team .owl-next {
    right: 30px;
}

#team .owl-prev i:hover, #team .owl-next i:hover {
    color: #fff;
}

#team .name {
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
}

#team .position {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

/* TESTIMONIALS */
.clients-feedback-area .client-name > h5 {
  color: #000;
  font-size: 22px;
  margin-top: 5px;
}

.clients-feedback-area .star-icon > i {
  font-size: 18px;
  color: #1080f2;
}

.clients-feedback-area .client-description > p {
  max-width: 1010px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 32px
}

.clients-feedback-area .client > i {
  font-size: 48px;
  color: #1080f2;
  margin-bottom: 30px;
}

.clients-feedback-area .client-name > p {
  color: #b5aec4;
  line-height: 28px;
}

.clients-feedback-area .slick-dots {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clients-feedback-area .slick-dots li button {
  width: 12px;
  height: 12px;
  text-indent: -999999999999999999999999px;
  border: 3px solid #a49fba;
  background-color: #fff;
  border-radius: 50%;
  margin: 5.5px;
  outline: none;
}

.clients-feedback-area .slick-dots li.slick-active button {
  background-color: #fb397d;
  border-color: #fb397d;
}

.clients-feedback-area .slick-slide.client-thumbnail {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 129px;
}

.clients-feedback-area .slick-slide img {
  display: block;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.clients-feedback-area .slick-slide.slick-current img {
  width: 100px !important;
  height: 100px !important;
}

.clients-feedback-area .slick-arrow {
  position: absolute;
  width: 30px;
  background-color: #fff;
  height: 100%;
  text-align: center;
  font-size: 24px;
  color: #b5aec4;
  display: block;
  line-height: 550%;
  left: 0;
  z-index: 90;
  cursor: pointer;
}

.clients-feedback-area .slick-arrow.fa-angle-right {
  left: auto;
  right: 0;
  top: 0;
}

.client-img {
    width: 100px;
    margin: 0 auto;
    padding-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-img img {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* CONTACT US */
#contactForm button {
    width: 40%;
    min-width: 175px;
    float: left;
}

.footer-contact-area h2 {
    margin-top: 0;
}

.footer-contact-area i {
    margin-right: 6px;
}

.address-text > p, .phone-text > p, .email-text > p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 32px;
}

.address-text > p > span, .phone-text > p > span, .email-text > p > span {
  color: #000;
}

.footer-contact-area .line-shape {
  margin-left: 0;
}

.footer-contact-area .heading-text > p {
  margin-top: 50px;
}

.footer-contact-area .heading-text {
  margin-bottom: 50px;
}

#msg-name {
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 25px 25px 25px 0;
}

#msg-contact {
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 25px 25px 25px 0;
}

#message {
  border-radius: 25px 25px 25px 0;
}

.footer-contact-area {
  background: #f5f9fc;
}

.footer-text > p {
  margin-bottom: 50px;
}

/* POPUP CONTACT FORM */
.popup-wrapper {
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    outline: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.popup-container {
    width: 90%;
    max-width: 400px;
    min-width: 250px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.popup-header {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.popup-header h5 {
    font-size: 24px;
}

.popup-contact input {
    font-size: 14px;
}

.popup-contact {
  padding: 25px;
  width: 100%;
}

.popup-contact label {
    font-size: 18px;
}

.popup-contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.popup-contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.popup-contact input[type="text"],
.popup-contact input[type="email"],
.popup-contact input[type="tel"],
.popup-contact input[type="url"],
.popup-contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.popup-contact input[type="text"]:hover,
.popup-contact input[type="email"]:hover,
.popup-contact input[type="tel"]:hover,
.popup-contact input[type="url"]:hover,
.popup-contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.popup-contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.popup-contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1080f2;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.popup-contact button[type="submit"]:hover {
  background: #333;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.popup-contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.popup-contact input:focus,
.popup-contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* CALLBACK WIDGET */
#callback-wrapper {
 position: fixed;
 top: 92%;
 left: 92%;
 transform: translate(-92%, -92%);
 z-index: 999;
}

.pulse {
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 width: 90px;
 height: 90px;
 color: #fff;
 text-align: center;
 background: #5CC2EA;
 border-radius: 50%;
 transition: .5s;
 cursor:pointer;
}

.phone {
 position: absolute;
 font-size: 50px;
 text-align: center;
 width: 90px;
 height: 90px;
 line-height: 94px;
 opacity: 1;
 animation: phone .9s ease-in-out  infinite;
}

.phone i {
 transition: .5s ease-in-out;
}

.pulse:hover {
 background: #7cfc00;
}

.pulse:hover::before,
.pulse:hover::after {
 content: '';
 position: absolute;
 border: 1px solid #228b22;
 left: -20px;
 right: -20px;
 top: -20px;
 bottom: -20px;
 border-radius: 50%;
 animation: pulse .5s linear infinite;
}

@keyframes pulse {
 0% {
  transform: scale(0.5);
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  transform: scale(1.2);
  opacity: 0;
 }
}

@keyframes phone {
 0%, 100% {
  transform: rotate(-20deg);
 }
 50% {
  transform: rotate(21deg);
 }
}

#popup-request-call {
    padding: 25px;
}

#popup-request-call input {
    width: 78%;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
}

#popup-request-call button {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    float: right;
}

.popup-free-operators {
    margin: 0;
    margin-bottom: 25px;
}

.popup-free-operators p {
    font-size: 20px;
    color: black;
}

.popup-free-operators .free b {
    color: #1080f2;
}

.popup-free-operators i {
    position: relative;
    margin-left: 3px;
}

.popup-free-operators .free i {
    transform: rotate(-10deg) scale(-1, 1);
}

.popup-free-operators .busy b {
    color: red;
}

/* CASES */
#cases .cases-content {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#cases .case {
    transition: all .2s ease-in-out;
    padding: 0 !important;
    margin: 0 !important;
}

#cases .case:hover {
    transform: scale(1.05);
    z-index: 1;
}

#cases .case img {
    width: 100%;
}

#cases .case .desc {
    color: white;
    position: absolute;
    bottom: 24px;
    left: 6%;
}

#cases .case .desc.alternate {
    color: black;
}

#cases .case .desc h3 {
    /*font-weight: 700;*/
    font-size: 20px;
    line-height: 20px;
}

#cases .case .desc h5 {
    font-size: 14px;
    opacity: 0.8;
}

/* SPECIFIC CASE */
#case h4 {
    font-size: 30px;
    margin-bottom: 24px;
}

#case ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#case ul li:before {
    content: "";
    width: 16px;
    height: 1px;
    background-color: #201f1e;
    position: absolute;
    left: 0;
    top: 14px;
}

#case ul li {
    padding-left: 36px;
    margin-bottom: 10px;
    position: relative;
}

#case p, #case ul li {
    font-size: 22px;
    line-height: 32px;
    color: #696969;
}

#case .desc div {
    margin-bottom: 40px;
}

#case .desc div.no-margin {
    margin-bottom: 0;
}

#case .heading {
    text-align: center;
    font-size: 30px;
}

/* MESSENGER LOGOS */
.messenger-logos-area {
  position: relative;
  z-index: auto;
  background: #1080f2;
  background: -webkit-linear-gradient(to left, #2caff5, #1080f2);
  background: -webkit-linear-gradient(right, #2caff5, #1080f2);
  background: -webkit-gradient(linear, right top, left top, from(#2caff5), to(#1080f2));
  background: -o-linear-gradient(right, #2caff5, #1080f2);
  background: linear-gradient(to left, #2caff5, #1080f2);
  box-sizing: border-box;
  padding: 40px 0 10px 0;
}

.messenger-logos-area:after {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  content: '';
}

.single-messenger-logo {
  margin-bottom: 30px;
}

.single-messenger-logo img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

.logo-area {
  text-align: center;
  min-width: 60px;
}

.logo-area img {
  width: 50%;
  max-width: 90px;
  min-width: 70px;
  margin: 0 auto;
}

/* MY PERSONAL STYLES */
.col-centered {
    display: inline-block;
    float: none;
}

div.navbar-header {
    height: 44px;
}

div.navbar-header a {
    float: left;
    width: 220px;
    padding-top: 9.42px;
    margin-right: 0;
}

div.navbar-header a img {
    margin-top: 0 !important;
}

div.navbar-header span.button-wrapper {
    display: inline-block;
    float: right;
}

div.navbar-header button span.icon-bar {
    margin-right: 0 !important;
}

img.header-logo {
    width: 220px;
    height: auto !important;
}

.intro-heading {
    font-size: 22px !important;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 40px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 3px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.header-list-wrapper li a {
    width: auto !important;
    padding: 0 !important;
    margin-top: 15px;
    margin-right: 10px;
}

#why {
    padding-bottom: 50px;
}

.container .header {
    margin-bottom: 70px;
}

#why .content {
    text-align: center;
}

#why .content a {
    line-height: 32px;
}

#why .content a:hover {
    text-decoration: underline;
}

#why .content div {
    text-align: left;
    margin-bottom: 25px;
}

#why .content .heading img {
    display: block;
    max-width: 55px;
}

#why .content .heading h3 {
    display: block;
    margin: 0;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 700;
    box-sizing: border-box;
}

#why .content .heading p {
    padding-top: 10px;
}

#why .content ul {
    padding-left: 20px;
}

#why .content ul li {
    font-size: 16px;
    line-height: 24px;
}

#leave-application img {
    width: 100%;
}

#leave-application .margin-bottom-50 {
    margin-bottom: 50px;
}

#leave-application h3, #development-plan h3 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 10px;
    color: #000;
}

#leave-application p {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 1rem;
}

#leave-application ul li {
    color: #666;
    font-size: 22px;
    line-height: 40px;
}

#leave-application b, #development-plan b {
    color: #1080f2;
}

#leave-application .primary-button {
    width: 40%;
    min-width: 175px;
    height: 40px;
    color: #fff;
    background-color: #1080f2;
    border: 2px solid #1080f2;
}

#leave-application .primary-button:hover {
    color: #1080f2;
    background-color: #fff;
}

#services img {
    width: 40px;
    margin-bottom: 20px;
}

#services h4 {
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 28px;
}

#partners .partner {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#partners .row-partners {
    margin-bottom: 50px;
}

#partners .row-partners.row-last {
    margin-bottom: 0px;
}

#partners .partner a {
    padding: 0 15px;
    margin: 0;
}

#partners img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

#partners .row-partners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

#partners .row-partners > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*#partners .partner-min-height-60 .partner {
    min-height: 60px;
}

#partners .partner-min-height-125 .partner {
    min-height: 125px;
}

#partners .partner-min-height-140 .partner {
    min-height: 140px;
}*/

.cool_facts_area {
    position: relative;
    z-index: auto;
    background: #1080f2;
    padding: 65px 0 20px 0;
}

.cool_facts_area:after {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    content: '';
}

.cool-facts-content {
    text-align: left;
}

.cool-facts-content > i {
    color: #ffffff;
    font-size: 36px;
}

.counter-area {
    min-width: 100px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.counter-area > h3 {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1;
}

.cool-facts-content > p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
}

.single-cool-fact {
    text-align: center;
    margin-bottom: 50px;
}

b.highlight {
    color: #1080f2;
    background: #fff;
    box-shadow: 5px 0 0 #fff, -5px 0 0 #fff;
}

/* DOCUMENTS */
.documents-area .col-image img {
    width: 100%;
}

/* WEBSITE EXTRAS */
.card {
    height: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 25px;
    transition: 0.3s all;
    -webkit-box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.75);
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px -11px rgba(0,0,0,0.75);
}

.carousel-card {
    margin: 0 20px 20px 20px !important;
}

.website-extra__image img {
    height: 60px !important;
    width: 60px !important;
}

.website-extra__title {
    margin-top: 60px;
}

/* CUSTOM BOOTSTRAP 4 STYLES */
.d-flex {
    display: flex !important;
    flex-wrap: wrap;
}

.row.d-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.cases-tabs ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cases-tabs ul li {
  flex-grow: 1;
  width: auto;
  text-align: center;
  /*background-color: #1b6d85;*/
  padding-bottom: 8px;
}

.cases-tabs ul .active {
  border-bottom: 4px solid #207DEF;
}

.cases-tabs a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.cases-tabs a {
  color: #000;
}

@media screen and (max-width: 768px) {
  #cases .header {
    margin-bottom: 20px;
  }

  .cases-tabs ul li {
    width: 100%;
    padding: 10px;
    margin: auto 10px;
  }

  .cases-tabs ul li a {
    font-size: 16px;
  }

  .cases-tabs ul .active {
    border: 2px solid #207DEF;
  }
}

.development-plan {
  padding-top: 100px;
  padding-bottom: 0px;
}

.development-plan a {
  border-bottom: 1px solid rgba(32, 31, 30, .4);
}

.development-plan a:hover {
  border-bottom: 1px solid #201f1e;
}

.development-plan__title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 35px;
  color: #201f1e;
  padding-bottom: 90px;
}

.development-plan__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 0 !important;
}

.development-plan__item {
  width: 25%;
  height: 300px;
  position: relative;
}

.plan__item-first-line {
  background-color: #273140;
  color: #fff;
}

.plan__item-third-line {
  background-color: #273140;
  color: #fff;
}

.development-plan__item.empty {
    visibility: hidden;
    padding: 0;
    margin: 0;
}

.plan__item-first-line:after {
  content: "";
  background-color: #f7f7f7;
  width: 191px;
  height: 150px;
  position: absolute;
  bottom: -150px;
  left: 0;
}

.plan__item-second-line {
  color: #fff;
  background-color: #207DEF;
  margin-top: 300px;
}

.plan__item-second-line:after {
  content: "";
  background-color: #f7f7f7;
  width: 191px;
  height: 150px;
  position: absolute;
  top: -150px;
  left: 0;
}

.plan__item-second-line:last-child:after {
  right: 0;
  left: auto;
}

.development-plan__item-images img,
.development-plan__item-images svg {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 35px;
}

.development-plan__item-images--global img {
  position: absolute;
  top: -81px;
  left: 38px;
  z-index: 1;
}

.development-plan__item-text {
  font-size: 24px;
  font-family: PTSans, sans-serif;
  line-height: 30px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

@media only screen and (max-width: 1600px) {
  .development-plan {
    padding-top: 80px;
  }

  .development-plan__items {
    padding-bottom: 93px;
  }
}

@media only screen and (max-width: 1366px) {
  .development-plan__item {
    height: 300px;
  }

  .development-plan__item-images img,
  .development-plan__item-images svg {
    right: 30px;
    top: 30px;
  }

  .development-plan__item-text {
    bottom: 30px;
    left: 30px;
    font-size: 22px;
    line-height: 28px;
  }

  .development-plan__item-images--global img {
    left: 20px;
  }

  .plan__item-second-line {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 1280px) {
  .development-plan__items {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .development-plan__item {
    height: auto;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #201f1e;
    background: none;
    margin-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    margin-right: 30px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
  }

  .development-plan__item:nth-child(1),
  .development-plan__item:nth-child(2) {
    border-bottom: 1px solid #eaeaea;
  }

  .development-plan__item-images--global {
    display: none;
  }

  .plan__item-second-line:after,
  .plan__item-first-line:after {
    display: none;
  }

  .development-plan__item-images img,
  .development-plan__item-images svg {
    position: static;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .development-plan__item-text {
    position: static;
  }

  .development-plan__title {
    padding-bottom: 30px;
  }

  .development-plan {
    padding-top: 60px;
  }

  .development-plan__items {
    padding-bottom: 60px;
  }
}

.development-stage-cards-row [class*='col-'] {
    margin-bottom: 35px;
}

.development-stage__title {
    margin-top: 60px;
}

.development-stage__text {
    margin-top: 60px;
}

.development-stage__image img {
    width: 40px;
    height: 40px;
}

.development-stage__arrow {
    min-height: 50px;
}

.development-stage__arrow img {
    position: absolute;
    bottom: 20px;
    right: -35px;
    width: 100px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .development-stage__arrow img {
        margin: auto;
        bottom: -35px;
        left: 0;
        right: 0;
        transform: rotate(90deg);
    }
}

/*@media screen and (min-width: 768px) and (max-width: 992px) {*/
/*    .development-stage__arrow img {*/
/*        display: none;*/
/*    }*/
/*}*/
